.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(37, 37, 37);
    font-size: 23px;

  }
  .navbar .categories{
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .categories .category{
    list-style:disc;
  }
  .categories .category:hover{
    cursor: pointer;
    text-decoration: dotted;
    font-style:italic;
    font-weight: bolder;
    background-color: rgb(30, 27, 27);
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    background-image: url("/public/img/fondo.jpg");
    background-repeat:round;

  }

  .title-brand{
    padding: 0 10px;
    font-weight: 600;
    font-size: 33px;
  }
  .home-store:hover{
    cursor: pointer;
    font-weight: bolder;
    color: rgb(22, 100, 10);
    background-image: url("/img/fondo.jpg");
    background-repeat:round;
  }

  .cartWidget{
    width: 19%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cartWidget .icon-cartwidget{
    font-size: 30px;
  }
  .cartWidget .number-cartwidget{
    background-color: rgb(29, 210, 12);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    line-height: 1px;
    min-width: 18px;
    min-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cartWidget:hover{
    background-color: aliceblue;
  }